﻿@model DragonTest.ViewModel.ResturantsVM

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script src="~/Scripts/home/home.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />


@{
    ViewBag.Title = "Index";
}

<div class="active-cyan-3 active-cyan-4 mb-4">
    <input id="searchInput" class="form-control" type="text" placeholder="Search Resturant" aria-label="Search">
</div>

@if (Model != null && Model.Resturants != null)
{
    @Html.Partial("~/Views/Partial/ResturantInfo/_ResturantsInfoTbl.cshtml", Model.Resturants)
}

<div id="buttonsActions">
    <form id="form" novalidate="novalidate" class="px-4 py-3">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="latitude">Latitude:</label>
            <input type="number" id="latitude" name="latitude" step="0.01" class="form-control" />
        </div>
        <div class="form-group">
            <label for="longitud">Longitud:</label>
            <input type="number" id="longitud" name="longitud" step="0.01" class="form-control" />
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" class="form-control" />
        </div>
       
        <div class="form-group">
               <label for="type">Type:</label>
                <div class="dropdown">
                    <div>
                        <select id="type" name="type" class="form-control" >
                            <option value="" disabled="disabled" selected="selected">select type</option>
                            @foreach (var typeItem in Model.RestTypes)
                            {
                                <option value="@typeItem.Item1">@typeItem.Item2</option>
                            }
                        </select>
                    </div>
                </div>

            </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>

        <div id="dialog" class="modal">
            <p>Operation failed</p>
         </div>
