﻿@model List<DragonTest.Model.Resturant>

@if (Model != null)
{
    <table id="resturantTbl" class="table table-striped">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rest in Model)
            {
                @Html.Partial("~/Views/Partial/ResturantInfo/_ResturantRowData.cshtml", rest)
            }
        </tbody>
    </table>
}
