﻿@model DragonTest.Model.Resturant


    <tr>
        <td>@Model.Name </td>
        <td>
            @Model.Address
        </td>
        <td>
            @Model.PhoneNumber
        </td>
        <td>
            @Model.Type.ToString()
        </td>
        <td>
            <button class="deleteRestrant font-weight-bold" data-id="@(Model.Id)">Delete</button>
        </td>
    </tr>